<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link type='text/css' rel="stylesheet" href="/assets/css/style.css" />
  <title>Eat-da-Pizza</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/styles/styles.css"></script>
</head>

<body>
  {{{ body }}}
</body>

</html>