{{#each books}}
{{>books/books-block}}
{{/each}}


<form id='addBook'>
  <input type='text' id='titleField'>
  <input type='text' id='authorField'>
  <input type='text' id='genreField'>
  <input type='text' id='genreField'>
  <button type='submit' id='submit'>Add Book</button>
</form>