body {
    background-image: url(../images/janko-ferlic-174927-unsplash.jpg);
    background-size: cover;
}
.pure-form {
    float: right;
}
.pure-menu-horizontal .pure-menu-heading, .pure-menu-horizontal .pure-menu-item, .pure-menu-horizontal .pure-menu-separator, .pure-menu-link {
    color: white;
}
.newDiv {
    display: inline-block;
    width: 25%;
    margin: auto;
}
.title, .authors , .imgStyles {
    margin: auto;
}
#results {
    margin-left: 20px;
}